body {
	background-color: bisque;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
	font-size: 20px;
}
.techTable {
	border: 3px solid #a2a9b1;
    padding: 0.4em 0.4em;
}

#techVars {
	border: 3px solid #a2a9b1;
    padding: 0.2em 0.4em;
    padding-left: 30px;
}